.flex-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 2em;
}

.login-form-tile {
  padding-top: 1.5em;
  gap: 1em;
  width: 40%;
  margin: 2em auto;
  font-size: 1.1em;
}

.login-form {
  width: 90%;
}
