.members-section {
    background-color: #142653;
    padding: 20px;
    border-radius: 10px;
    color: #BBD8EB;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .assigned-users-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 0;
    margin-top: 15px;
    list-style: none;
  }
  
  .assigned-user-item {
    background-color: #223168;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #BBD8EB;
    font-size: 1.1em;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .user-email {
    font-size: 1em;
    color: #AFCDEB;
  }
  
  .user-comment {
    font-style: italic;
    color: #AFCDEB;
  }
  
  .remove-button {
    background-color: #d4776a;
    padding: 10px 18px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .remove-button:hover {
    background-color: #a33d35;
  }
  