.toolbar {
  margin-bottom: 1.5em;
}

.projects-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
}

.meta-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: var(--color-background);
  border-radius: 0.8em 0.8em 0em 0em;
  font-size: 1.25em;
}

.project-list-wrapper {
  gap: 1em;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  max-height: 30vmax;
  min-height: 30vmax;
}

.yes-button {
  margin-right: 20px;
  border-radius: 5px;
}

.yes-button:hover {
  color: var(--color-highlight-primary);
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.meta-nav-link {
  color: var(--color-highlight-secondary);
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background);
  border-radius: 0.8em 0.8em 0em 0em;
}

.meta-nav-link:hover {
  cursor: pointer;
}

.meta-nav-link-selected {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8em 0.8em 0em 0em;
  background-color: var(--color-main);
  font-weight: 600;
}

.meta-data {
  padding: 0;
  max-width: 45%;
  min-width: 45%;
}

.meta-content {
  width: 90%;
  padding: 0.5em;
  overflow-y: scroll;
  max-height: 30vmax;
}


.text-row-date {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: left;
}

.text-row-name {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-row-input,
.text-row-date p {

  pointer-events: none;
  padding: 10px;
  color: var(--color-highlight-primary);
  background-color: var(--color-background);
  color: var(--color-highlight-primary);
  border-radius: 8px;
  border: 2px solid var(--color-lighter-main);
  font-family: inherit;

}

.hdate {
  width: 15%;
}




.text-row-input {

  width: 80%;
  margin-bottom: 20px;
  min-height: 100px;
  resize: none;

}

.hdate {
  margin-right: 20px;
}

.searchbar {
  border-radius: 5px;
  background-color: var(--color-main);
}

.searchbar::placeholder {
  color: var(--color-lighter-main);
}