.toolbar {
  margin-bottom: 1.5em;
}

.projects-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
}

.meta-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #0f1c3d;
  border-radius: 0.8em 0.8em 0em 0em;
  font-size: 1.25em;
}

.project-list-wrapper {
  gap: 1em;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  max-height: 30vmax;
  min-height: 30vmax;
}

.meta-nav-link {
  color: #73a5d3;
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  background-color: #0f1c3d;
  border-radius: 0.8em 0.8em 0em 0em;
}

.meta-nav-link:hover {
  cursor: pointer;
}

.meta-nav-link-selected {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8em 0.8em 0em 0em;
  background-color: #142653;
  font-weight: 600;
}

.meta-data {
  padding: 0;
  max-width: 45%;
  min-width: 45%;
}

.meta-content {
  width: 90%;
  padding: 0.5em;
  overflow-y: scroll;
  max-height: 30vmax;
}

.text-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar{
  background-color: #142653;
}

.searchbar::placeholder{
  color: #283A7B;
}