.project-tile {
  border-radius: 2em;
  background-color: #283a7b;
  display: flex;
  flex-direction: row;
  padding: 0.25em 1.25em 0.25em 1.25em;
  align-items: center;
  width: 85%;
}

.selected {
  border-radius: 2em;
  background-color: #bbd8eb;
  color: #223168;
  display: flex;
  flex-direction: row;
  padding: 0.25em 1.25em 0.25em 1.25em;
  align-items: center;
  width: 85%;
}

.date-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  margin-right: 1em;
}

.project-tile p {
  margin: 0;
}

.icon {
  flex-grow: 0.2;
  height: 2.5em;
}

.project-list-tile {
  padding-bottom: 1.25em;
}
.project-button {
  /* background-color: #587060; */
  margin-top: 5px; /* отступ сверху на 20px */
}
.project-button:hover {
  /*background-color: #587060;*/
  color: #374ea3;
  transform: scale(1.2) ; /* Сдвиг вниз на 5px */
  transition: transform 0.1s ease;
}
