.create-task-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 10px;
}

.create-task-form {
  background-color: var(--color-main);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-highlight-primary);
  width: 65%;
}

.submit-button {
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-lightest-main);
  color: var(--color-highlight-primary);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: var(--color-highlight-secondary);
  color: var(--color-main);
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1em;
}
