.create-task-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  padding: 20px;
  background-color: #0D1134;
  border-radius: 10px;
}

.create-task-form {
  background-color: #142653;
  padding: 20px;
  border-radius: 10px;
  color: #BBD8EB;
  width: 65%;
}

.submit-button {
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: #283A7B;
  color: #BBD8EB;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: #73A5D3;
  color: #142653;
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1em;
}
