.modal {
    font-size: 12px;
    background: var(--color-lightest-main);
    border-radius: 18px;
    box-shadow: 0px 4px 8px var(--color-shadow); 
  }
  .modal:hover{
    box-shadow: 0px 6px 12px var(--color-shadow); 
  
  }
  .modal > .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    
    text-align: center;
    
  }
  .modal > .close {
    
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: var(--color-lightest-main);
    border-radius: 18px;
    border: 0px;
    outline: none;
    tabindex: -1; 
  }
  
  .menu {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .menu-item > h3{
    margin: 3px;
  }
  .menu-item {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    height: 28px;
    background: var(--color-highlight-secondary);
    color: var(--color-background);
    border-radius: 10px;
  }
  .menu-item:hover {
    color: #2980b9;
  }  