.modal {
    font-size: 12px;
    background: var(--color-lightest-main);
    border-radius: 18px;
    box-shadow: 0px 4px 8px var(--color-shadow); 
  }
  .modal:hover{
    box-shadow: 0px 6px 12px var(--color-shadow); 
  
  }
  .modal > .header {

    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
 
    padding: 10px 5px;
  }
  .modal > .actions {

    padding: 10px 5px;
    margin: auto;
    
    text-align: center;
    
  }
  .modal > .close {
    
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: var(--color-lightest-main);
    border-radius: 18px;
    border: 0px;
    outline: none;
    tabindex: -1; 
  }
  
  .menu {

    display: flex;
    flex-direction: column;
  }
  .menu-item > h3{
    margin: 3px;
  }
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: var(--color-main);
    border-radius: 8px;
    box-shadow: 0 8px 0px 0px var(--color-shadow);
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 40px;
  }
  .menu-item:hover {
    transform: translateY(2px);
    box-shadow: 0 0px 0px var(--color-shadow);
  }  