.outer {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  background: var(--color-main);
  display: flex;
}

.navbar-logo {
  color: var(--color-highlight-primary);
}

ul {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: flex-start;
  align-items: center;
}

li .nav-link {
  display: block;
  padding-right: 0.5em;
}

.logo {
  display: inline;
  font-family: Akronim;
  font-size: 3em;
  padding: 0;
}

.nav-links {
  margin-left: auto;
}
.nav-links-list {
  padding-inline-end: 0;
}


.navbar-button {
  text-align: center;
  color: var(--color-background); 
}