.members-container {
    background-color: #142653;
    padding: 20px;
    border-radius: 10px;
    color: #BBD8EB;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.assigned-users-list{
    overflow-y: scroll;
    max-height: 280px;
}