.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: var(--color-main);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--color-white);
  max-width: 400px;
  width: 100%;
}

.invite-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--color-lighter-main);
  border-radius: 5px;
  background: var(--color-lighter-main);
  color: var(--color-white);
}

.popup-description {
  font-size: 14px;
  color: var(--color-highlight-primary);
  margin-bottom: 10px;
}

.join-button, .join-close-button {
  background: var(--color-highlight-secondary);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
}

.join-button:hover {
  background: var(--color-highlight-secondary);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  color: var(--color-submit-primary);
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}
