.task-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status-section{
  /* max-width: 400px;
  min-width: 250px; */
  width: 300px;
  min-height: 100vh;
}

.tag-container{
  padding-bottom: 50px;
}
.task-lists-container{
  display: flex;
}
.name{
  font-size: larger;
  margin: 0px;
}
.task-container{
  border-radius: 2em;
  background-color: #283a7b;
  padding: 0.25em 1.25em 0.25em 1.25em;
  margin: 20px;
  width: 80%;
}

.task-info{
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.task-icon-container{
  display: flex;
  align-items: center;  
}

.task-icon{
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.tile{
  margin: 10px;
}

.buttons{
  margin-right: 5px;
  margin-left: 5px; 
  width: 50px;
  height: 50px;
}
.buttons:hover{
  opacity: 0.7;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

