.task-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-container{
  display: flex;
  margin-left: 20px;
}

.add-status-section{
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  min-height: 100vh;
}

.add-status-section:hover{
  background-color: var(--color-lightest-main);
  opacity: 0.7;
  transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1), filter 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  filter: brightness(1.2);
}

.status-section{
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  min-height: 100vh;
}

.tag-container{
  padding-bottom: 33px;
}

.task-lists-container{
  display: flex;
}

.name{
  font-size: medium;
  margin: 0px;
  color: var(--color-highlight-primary);
  margin-left: 3px;
}

.tasktile-icon {
  color: var(--color-highlight-primary);
}



.task-container{
  font-size: smaller;
  border-radius: 2em;
  background-color: var(--color-lightest-main);
  padding: 0.17em 0.83em 0.17em 0.83em;
  margin: 13px;
  width: 85%;
}

.add-image-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task-info{
  margin: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.task-icon-container{
  display: flex;
  align-items: center;  
}

.task-icon{
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.tile{
  margin: 7px;
}

.buttons{
  margin-right: 5px;
  margin-left: 5px; 
  width: 50px;
  height: 50px;
}
.buttons:hover{
  opacity: 0.7;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}
.task-container:hover{
  background-color: var(--color-lightest-main);
  opacity: 0.7;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}
