.task-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task-title {
  display: flex;
  width: fit-content;
  align-items: baseline;
  padding: 12px;
}

.task-title > h2 {
  margin: 0px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.task-page {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  padding: 20px;
  background-color: #0d1134;
  border-radius: 10px;
}

.task-main {
  flex: 3;
  padding-right: 20px;
}

.task-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-name {
  background-color: #142653;
  border: none;
  color: #bbd8eb;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.task-description {
  background-color: #142653;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #bbd8eb;
  width: 100%;
  box-sizing: border-box;
}

.description-input {
  width: 100%;
  background-color: #142653;
  border: none;
  color: #bbd8eb;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 10px;
}

.task-files {
  background-color: #142653;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #bbd8eb;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.file-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.file-icon {
  background-color: #283a7b;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
}

.files-header {
  display: flex;
}

.comments-header {
  display: flex;
}

.icons {
  width: 40px;
  height: 40px;
  align-self: center;
}

.task-comments {
  background-color: #142653;
  padding: 15px;
  border-radius: 5px;
  color: #bbd8eb;
  width: 100%;
  box-sizing: border-box;
}

.add-comment {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #283a7b;
  color: #bbd8eb;
  box-sizing: border-box;
}

.add-comment-button {
  background-color: #283a7b;
  border: none;
  color: #bbd8eb;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}

.add-comment-button:hover {
  background-color: #73a5d3;
  color: #142653;
}

.comment {
  margin-top: 10px;
  padding: 10px;
  background-color: #283a7b;
  border-radius: 5px;
  box-sizing: border-box;
}

.comment-user {
  font-weight: bold;
}

.sidebar-button {
  background-color: #283a7b;
  border: none;
  padding: 15px;
  color: #bbd8eb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-button:hover {
  background-color: #73a5d3;
  color: #142653;
}

.info-container > h3 {
  margin-bottom: 0px;
  margin-left: 15px;
}

.attachments-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.files-tile {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.main-task-info-container {
  display: flex;
  width: 100%;
}

.task-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-info-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.task-info-menu-item > h3 {
  margin: 0;
}

.task-info-menu-item {
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  height: 28px;
  background: #283a7b;
  color: #bbd8eb;
  border-bottom: 1px solid rgb(30, 44, 92);
  border-radius: 10px;
}

.task-info-menu-item:hover {
  color: #2980b9;
}

/* Стили для DatePickerSection */
.date-picker-section {
  background-color: #1c2757;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px 0;
}

.date-picker-section .field-group {
  margin-bottom: 20px;
}

.date-picker-section h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

.date-picker-section .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #3a4e7f;
  border-radius: 5px;
  background-color: #283a7b;
  color: #ffffff;
  font-size: 16px;
}

.date-picker-section .input-field:focus {
  outline: none;
  border-color: #007bff;
}

.save-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.save-button:hover {
  background-color: #0056b3;
}

.popup-taskinfo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-taskinfo-content {
  background-color: #1a2a5a;
  color: #bbd8eb;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  position: relative;
}

.popup-taskinfo-buttons {
  display: flex;
  justify-content: space-between; /* Разводим кнопки по краям */
  margin-top: 20px; /* Отступ между кнопками и остальным содержимым */
}

.close-button {
  background-color: #283a7b;
  border: none;
  color: #bbd8eb;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background-color: #73a5d3;
  color: #142653;
}

.add-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #0056b3;
}

