:root[data-theme="dark"] {

  --dark-theme-background: #0a0c32;
  --dark-theme-main: #142653;
  --dark-theme-lighter-main: #283A7B;
  --dark-theme-lightest-main: var(--dark-theme-lighter-main);
  --dark-theme-highlight-primary: #BBD8EB;
  --dark-theme-highlight-secondary: #73A5D3;
  --dark-theme-white: #cee8ef;

  --dark-theme-submit-primary: #1d662f;
  --dark-theme-submit-secondary: #95dc87;




  --color-background: var(--dark-theme-background);
  --color-shadow: var(--dark-theme-shadow);
  --color-main: var(--dark-theme-main);
  --color-lighter-main: var(--dark-theme-lighter-main);
  --color-lightest-main: var(--dark-theme-lightest-main);
  --color-highlight-primary: var(--dark-theme-highlight-primary);
  --color-highlight-secondary: var(--dark-theme-highlight-secondary);
  --color-white: var(--dark-theme-white);

  --color-submit-primary: var(--dark-theme-submit-primary);
  --color-submit-secondary: var(--dark-theme-submit-secondary);


}



:root[data-theme="light"] {

  --light-theme-background: #CAE2ED;
  --light-theme-shadow: #476a9f;
  --light-theme-main: #A2C5E5;
  --light-theme-darker-main: #89a9da;
  --light-theme-darkest-main: var(--light-theme-darker-main);
  --light-theme-highlight-primary: #264572;
  --light-theme-highlight-secondary: #3F4F88;
  --light-theme-white: #0a0c32;

  --light-theme-submit-primary: #95dc87;
  --light-theme-submit-secondary: #1d662f;

  --color-background: var(--light-theme-background);
  --color-shadow: var(--light-theme-shadow);
  --color-main: var(--light-theme-main);
  --color-lighter-main: var(--light-theme-darker-main);
  --color-lightest-main: var(--light-theme-darkest-main);
  --color-highlight-primary: var(--light-theme-highlight-primary);
  --color-highlight-secondary: var(--light-theme-highlight-secondary);
  --color-white: var(--light-theme-white);

  --color-submit-primary: var(--light-theme-submit-primary);
  --color-submit-secondary: var(--light-theme-submit-secondary);

}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-theme-highlight-primary);
  background-color: var(--dark-theme-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


body {
  background-color: var(--color-background);
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

h1 {
  color: var(--color-white);
  font-size: 3.2em;
  line-height: 1.1;
}

::-moz-selection {
  color: var(--color-background);
  background: var(--color-highlight-primary);
}

::selection {
  color: var(--color-background);
  background: var(--color-highlight-primary);
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  padding: 0.6em 2em 0.6em 2em;
  font-style: normal;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  border-radius: 1.875em;
  border-width: 0.3em;
  border-style: solid;
}

button:disabled {
  opacity: 0.6;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

button:disabled:active {
  opacity: 0.6;
  margin: 0;
  border-radius: 1.875em;
  border-width: 0.3em;
  border-style: solid;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

button:hover {
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

button:focus,
button:focus-visible {
  outline: 0.1em auto -webkit-focus-ring-color;
}

button img {
  margin: 0;
  padding: 0;
  display: block;
}

.login-button {
  background-color: var(--color-main);
  border-color: var(--color-highlight-primary);
  color: var(--color-highlight-primary);
}

.signup-button {
  background-color: var(--color-highlight-primary);
  border-color: var(--color-highlight-primary);
  color: var(--color-main);
}

#about-page {
  &::after {
    right: 85%;
    top: 43%;
  }
}

.register-button {
  transition: all 0.5s;
  width: auto;
  position: relative;

  &::after {
    content: "➔";
    font-size: 20px;
    position: absolute;
    right: 70%;
    top: 43%;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:hover {
    transition: all 0.5s;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 50px -19px var(--color-highlight-primary);
    -moz-box-shadow: inset 0px 0px 50px -19px var(--color-highlight-primary);
    box-shadow: inset 0px 0px 50px -19px var(--color-highlight-primary);
    color: var(--color-white);

    &::after {
      opacity: 1;
      transition: all 0.5s;
      color: var(--color-highlight-primary);

    }
  }
}

.register-button:hover {
  background-color: var(--color-main);
  color: var(--color-highlight-primary);
  border-color: var(--color-highlight-primary);
}



.yes-button {
  border-color: var(--color-highlight-primary);
  background: var(--color-highlight-primary);
  color: var(--color-lightest-main);
}

.no-button {
  border-color: #d4776a;
  background: #d4776a;
  color: var(--color-background);
}

.a-button {
  border-color: var(--color-lightest-main);
  background: var(--color-lightest-main);
  color: var(--color-highlight-primary);
}

.b-button {
  border-color: var(--color-main);
  background: var(--color-main);
  color: var(--color-highlight-secondary);
}

.about-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

input {
  background-color: var(--color-lightest-main);
  font-size: 1em;
  padding: 0.6em 2em 0.6em 2em;
  border-style: none;
  border-radius: 1.875em;
}

input::placeholder {
  color: var(--color-highlight-primary);
  font-size: 1em;
  font-weight: 550;
}

.tab-button {
  padding: 0.5em;

  border-color: var(--color-highlight-secondary);
  background: var(--color-highlight-secondary);
  color: var(--color-main);
  box-shadow: 0px 4px 0px var(--color-background);
  border-radius: 0.6em;
  border-width: 0.2em;
  border-style: solid;
}

.tab-button:hover {
  border-radius: 0.6em;
  border-width: 0.2em;
  box-shadow: none;
  margin: 0.2em;
  border-style: hidden;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}