:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #bbd8eb;
  background-color: #0a0c32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0a0c32;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 3.2em;
  line-height: 1.1;
}

::-moz-selection {
  color: #0a0c32;
  background: #bbd8eb;
}

::selection {
  color: #0a0c32;
  background: #bbd8eb;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  padding: 0.6em 2em 0.6em 2em;
  font-style: normal;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  border-radius: 1.875em;
  border-width: 0.3em;
  border-style: solid;
  filter: drop-shadow(0px 4px 1px rgba(7, 13, 58, 0.5));
}

button:disabled {
  opacity: 0.6;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

button:disabled:active {
  opacity: 0.6;
  margin: 0;
  border-radius: 1.875em;
  border-width: 0.3em;
  border-style: solid;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

button:hover {
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

button:focus,
button:focus-visible {
  outline: 0.1em auto -webkit-focus-ring-color;
}

button img {
  margin: 0;
  padding: 0;
  display: block;
}

.login-button {
  background-color: #142653;
  border-color: #bbd8eb;
  color: #bbd8eb;
}

.signup-button {
  background-color: #bbd8eb;
  border-color: #bbd8eb;
  color: #142653;
}

#about-page {
  &::after {
    right: 85%;
    top: 43%;
  }
}

.register-button {
  transition: all 0.5s;
  width: auto;
  position: relative;

  &::after {
    content: "➔";
    font-size: 20px;
    position: absolute;
    right: 70%;
    top: 43%;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:hover {
    transition: all 0.5s;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 50px -19px #bbd8eb;
    -moz-box-shadow: inset 0px 0px 50px -19px #bbd8eb;
    box-shadow: inset 0px 0px 50px -19px #bbd8eb;
    color: #ffffff;

    &::after {
      opacity: 1;
      transition: all 0.5s;
      color: #bbd8eb;

    }
  }
}

.register-button:hover {
  background-color: #142653;
  color: #bbd8eb;
  border-color: bbd8eb;
}



.yes-button {
  border-color: #bbd8eb;
  background: #bbd8eb;
  color: #223168;
}

.no-button {
  border-color: #d4776a;
  background: #d4776a;
  color: #171717;
}

.a-button {
  border-color: #223168;
  background: #223168;
  color: #bbd8eb;
}

.b-button {
  border-color: #142653;
  background: #142653;
  color: #73a5d3;
}

.about-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.about-flex #video {}

input {
  background-color: #283a7b;
  font-size: 1em;
  padding: 0.6em 2em 0.6em 2em;
  border-style: none;
  border-radius: 1.875em;
}

input::placeholder {
  color: #bbd8eb;
  font-size: 1em;
  font-weight: 550;
}