.outer {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  background: #142653;
  display: flex;
  margin-bottom: 2em;
}

.tab-button {
  padding: 0.5em;
  border-color: #73a5d3;
  background: #73a5d3;
  color: #142653;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6em;
  border-width: 0.2em;
  border-style: solid;
}

.tab-button:active {
  border-radius: 0.6em;
  margin: 0.2em;
  border-style: hidden;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

ul {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: flex-start;
  align-items: center;
}

li .nav-link {
  display: block;
  padding-right: 0.5em;
}

.logo {
  display: inline;
  font-family: Akronim;
  font-size: 3em;
  padding: 0;
}

.nav-links {
  margin-left: auto;
}
.nav-links-list {
  padding-inline-end: 0;
}
