.add-participant-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background: var(--color-lighter-main);
    border-radius: 8px;
}

.add-participant-form input, .add-participant-form select{
    background: var(--color-background);
    align-self: center;
    border: 2px solid var(--color-lighter-main);
    border-radius: 8px;
    color: var(--color-highlight-primary);
    transition: all 0.3s ease;
}

.add-participant-form input:focus, .add-participant-form select:focus { 
    border: 2px solid var(--color-highlight-secondary);
    outline: none;
    border-color: var(--color-highlight-primary);
    box-shadow: 0 0 8px var(--color-highlight-secondary);
}

.add-participant-form button {
    align-self: center;
    padding: 0.75rem 2rem;
    background: var(--color-submit-primary);
    color: var(--color-submit-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
