.participants-manager {
    background: var(--color-main);
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 12px;
    width: 45%;
    flex-shrink: 0;
}

.participants-manager h2 {
    margin-top: 0;
    color: var(--color-highlighter-primary);
}



.participants-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}





/* Стили для списка участников */

.participant-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 0;
    background: var(--color-lighter-main);
    border-radius: 8px;
    box-shadow: 0 8px 0px 0px var(--color-shadow);
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 50px;
}

.participant-card:hover {
    transform: translateY(2px);
    box-shadow: 0 0px 0px var(--color-shadow);
}

.participant-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.participant-email {
    font-weight: 500;
    color: var(--color-highlight-secondary);
}

.participant-role {
    font-size: 0.9em;
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    font-weight: 500;
    margin-right: 10px;
}

.participant-role.owner {
    background: #621a2d;
    color: #d599a2;
    border: solid 2px #d599a2
}

.participant-role.manager {
    background: var(--color-main);
    color: var(--color-highlight-secondary);
    border: solid 2px var(--color-highlight-secondary);
}

.participant-role.developer {
    background: var(--color-submit-primary);
    color: var(--color-submit-secondary);
    border: solid 2px var(--color-submit-secondary)
}


.participant-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    justify-content: center;
    margin-left: 16px;
    padding-left: 16px;
    border-left: 3px solid var(--color-main);
}

.role-edit-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.role-select {
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    background: var(--color-main);
}

.edit-buttons,
.action-buttons {
    display: flex;
    gap: 0.5rem;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    width: 120px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 500;
}

.edit-btn {
    background: var(--color-main);

    color: var(--color-highlight-secondary);
}

.remove-btn {
    background: #531432;
    color: #d37373;
}

.save-btn {
    background: var(--color-submit-primary);
    color: var(--color-submit-secondary);
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
    border: solid 2px var(--color-submit-primary);
}

.save-btn:hover {
    border: solid 2px var(--color-submit-secondary);
    color: var(--color-submit-secondary);
    box-shadow: 0 0 8px var(--color-submit-secondary);
    background: var(--color-submit-primary);
    transform: translateY(-2px);
}

.action-btn:hover {
    transform: translateY(-1px);
}

.action-btn:active {
    transform: translateY(0);
}


/* Стили для попапа */
.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: var(--color-main);
    padding: 20px;
    border-radius: 8px;
    border: solid 3px var(--color-highlight-secondary);
    text-align: center;
    box-shadow: 0 2px 10px var(--color-shadow);
    flex-shrink: 0;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-btn-popup {
    background: #d37373;
    color: #531432;
    transition: all 0.2s;

}

.participants-manager h2{

    color: var(--color-highlight-secondary)

}

.cancel-btn-popup {
    background: var(--color-highlight-secondary);
    color: var(--color-main);
    transition: all 0.2s;

}

.confirm-btn-popup:hover {
    background: #531432;
    color: #d37373;
    border: solid 2px #d37373;

}

.cancel-btn-popup:hover {
    background: var(--color-main);
    color: var(--color-highlight-secondary);
    border: solid 2px var(--color-highlight-secondary);
}

.cancel-btn {
    background: var(--color-highlight-secondary);
    color: var(--color-main);
}