.project-form {
    background: var(--color-main);
    padding: 2rem;
    border-radius: 12px;
    margin-top: 12px;
    width: 40%;
    flex-shrink: 0;
    box-shadow: 0 4px 12px var(--color-shadow);
}

.project-form h1 {
    color: var(--color-highlight-primary);
    margin: 0 0 2rem 0;
    text-align: left;
    font-size: 1.8em;
}

.project-input {
    width: 90%;
    padding: 12px;
    margin-bottom: 1.5rem;
}

.project-input, 
.date-group input[type="date"],
.project-textarea {
    background: var(--color-background);
    border: 2px solid var(--color-lighter-main);
    border-radius: 8px;
    color: var(--color-highlight-primary);
    transition: all 0.3s ease;
}

.project-textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 1.5rem;
    min-height: 100px;
    resize: none;
    font-family: inherit;
}

.date-group input[type="date"] {
    padding: 8px;
}

.date-group {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.date-group label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--color-highlight-secondary);
    flex: 1;
}



.date-group input[type="date"]:focus,
.project-input:focus, .project-textarea:focus {
    border: 2px solid var(--color-highlight-secondary);
    outline: none;
    border-color: var(--color-highlight-primary);
    box-shadow: 0 0 8px var(--color-highlight-secondary);
}

.submit-button {
    width: 100%;
    padding: 14px;
    background: var(--color-submit-primary);
    color: var(--color-submit-secondary);
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
    border: solid 2px var(--color-submit-primary);
}

.submit-button:hover {
    border: solid 2px var(--color-submit-secondary);
    color: var(--color-submit-secondary);
    box-shadow: 0 0 8px var(--color-submit-secondary);
    background: var(--color-submit-primary);
    transform: translateY(-2px);
}

.submit-button:disabled {
    background: var(--color-submit-primary);
    color: var(--color-submit-secondary);
    cursor: not-allowed;
    transform: none;
}

.error-message {
    color: #d37373;
    background: #53143288;
    padding: 1rem;
    border: 2px solid #d37373;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
}

.success-message {
    color: var(--color-submit-secondary);
    background: var(--color-submit-primary);
    padding: 1rem;
    border: 2px solid var(--color-submit-secondary);
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
}