.message {
  margin: 0.3em 0;
  padding: 1em;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
}

.fail {
  background-color: #d4776a;
  color: #171717;
}

.success {
  background-color: var(--color-highlight-secondary);
  color: var(--color-background);
}
